<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fcm">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_app_ico"
        android:label="TimeCheck"
        android:roundIcon="@mipmap/my_app_ico_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ScreensActivity.HelloScreenActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".rateSmena.ForSmenaJobReview"

            android:screenOrientation="portrait"/>
        <activity
            android:name=".rateSmena.AddSmenaRate"

            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".rateHour.AddHourRate"

            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".rateFixed.AddFixedRate"

            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".ScreensActivity.OldNoFinishActivity"

            android:screenOrientation="portrait"/>
        <activity android:name=".rateHour.ForHourJobReview"

            android:screenOrientation="portrait"/>
        <activity android:name=".rateFixed.FixedJobReview"

            android:screenOrientation="portrait"/>
        <activity android:name=".ScreensActivity.AddJobActivity_new"

            android:screenOrientation="portrait"/>
        <activity
            android:name=".ScreensActivity.AlarmActivity"

            android:noHistory="true"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ScreensActivity.StatisticActivity"

            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScreensActivity.SettingsActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".ScreensActivity.NoPayActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".ScreensActivity.CalendarMainActivity"

            android:screenOrientation="portrait" />

        <receiver
            android:name=".other.AlarmResiver"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ScreensActivity.AddTemplateActivity"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ScreensActivity.MainActivity"

            android:screenOrientation="portrait">

        </activity>

        <receiver android:name=".other.StartActivityOnBootReciver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>